@{
    ViewData["Title"] = "Inicio";
}

<body class="home-page">

<div class="container my-5">
    <h2 class="text-center mb-4">Seguridad y eficiencia para tu hogar o compañia</h2>
    <div class="row">
        <!-- Aquí puedes mostrar productos destacados o banners // por implementar -->
    </div>
</div
</body>